<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"welcome"</title>
<form action="/calculation" method = "POST">
  <label for="Item1">Item1:</label><br>
  <input type="text" id="Item1" name="Item1" ><br>
  <label for="Price1">price1:</label><br>
  <input type="text" id="Price1" name="Price1" ><br>
  <label for="Item2">Item2:</label><br>
  <input type="text" id="Item2" name="Item2" ><br>
  <label for="Price2">Price2:</label><br>
  <input type="text" id="Price2" name="Price2" ><br>
  <label for="Item3">Item3:</label><br>
  <input type="text" id="Item3" name="Item3" ><br>
  <label for="Price3">price3:</label><br>
  <input type="text" id="Price3" name="Price3" ><br>
  <label for="Item4">Item4:</label><br>
  <input type="text" id="Item4" name="Item4" ><br>
  <label for="Price4">price4:</label><br>
  <input type="text" id="Price4" name="Price4" ><br><br>






  <input type="submit" value="calculate">
</form>
</head>
<body>

</body>
</html>